.playlist-save {
    height: 80px;
}

div.playlist {
    background-color: rgb(255, 255, 255, 0.3);
}

div.playlist-input {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-top: 10px;
    padding-bottom: 10px;
}