div.search-results {
    background-color: rgb(255, 255, 255, 0.3);
}

h2.ui.header { 
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.search-results-term {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}

i.purple.heart.icon {
    margin-left: 10px;
    margin-right: 10px;
}