div.header.track-title {
    background-color: transparent;
    font-size: 1.2em !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.description.track-description {
    margin-top: 0px !important;
}

div.content.track-information {
    width: 70% !important;
}

div.content.track-action {
    padding-left: 21px !important;
}