body,
html,
#root {
  height: 100%;
  background-image: url('./aaron-paul-213841-unsplash-bg.jpg') !important;
  font-family: Questrial !important;
}

div.ui.segment {
  background-color: transparent !important;
}