main.jammming, div#root {
    height: 100% !important;
    background-image: url('./kaleb-nimz-904-unsplash-bg.jpg') !important;
    font-family: Questrial !important;
}

div.ui.segment {
    background-color: transparent !important;
}